nltk==3.8.1
pafy==0.5.5
pandas==1.5.3
pdfminer3==2018.12.3.0
Pillow==9.4.0
Pillow==10.0.0
plotly==5.9.0
PyMySQL==1.1.0
pyresparser==1.0.6
spacy==3.5.3
spacy==3.6.0
spacy==3.6.1
streamlit==1.24.1
streamlit_tags==1.2.8
youtube_dl==2021.12.17
pip==23.2.1
